ion-title, ion-button{
    font-family: Poppins-Regular;
    font-size: 1.3em;
    font-weight: 300;
    color: white;
}
.round {
    height: 300px;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }
