<ion-header [translucent]="true" class="ion-header ion-no-border" color="dark">
  <ion-toolbar color="dark">
    <ion-button slot="start" (click)="returnToHomePage()" color="white" fill="clear">
        <ion-icon size="large" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>List of catalogs</ion-title>
    <ion-button slot="end" color="white" fill="clear" (click)="AlertCreateCata()" >
      <ion-icon size="large" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let catalogues of catalogues" color="dark">
      <ion-button class="name_cata_button ion-no-border" size="large" (click)="OpenCatalog(catalogues.Id_cata)" > 
        <ion-text slot="start">{{catalogues.Nom_cata}}</ion-text>
      </ion-button>
      <ion-button slot="end" class="trash_button" (click)="AlertDeleteCata(catalogues.Id_cata, catalogues.Nom_cata)">
        <ion-icon size="large" name="remove-circle-outline"></ion-icon>
      </ion-button>
  </ion-item>
</ion-content>