<ion-header class="ion-no-border">
  <div class="container">
    <ion-toolbar class="sub_container">
      <img slot="start" src="assets/imgs/CTelescope-Logo.png"/>
      <ion-title >
          <span>CTELESCOPE</span>
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="white">
  <div class="fullheight xc">   
    <ion-slides #onboardingSlides pager="true" >
      <ion-slide>
        <img src="assets\imgs\slides\slide_ok.png" >
        <div class="slider-text">
          <h2>Fresh & Healthy Products!</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.
          </p>
        </div>
      </ion-slide>
      <ion-slide class="ion-padding">
        <img src="assets\imgs\slides\slide_con.png" >
        <div class="slider-text">
          <h2>Secure Payment System!</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.
          </p>
        </div>
      </ion-slide>
      <ion-slide class="ion-padding">
        <img src="assets\imgs\slides\slide_err.png" >
        <div class="slider-text">
          <h2>Guarented Quick Delivery</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.
          </p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="container">
    <ion-item>
      <ion-label color="dark" >
        <span class="title ion-text-wrap ion-text-justify">Connect to the <u>telescope</u> 📡</span>
        <p class="ion-text-wrap ion-text-justify">
          <span>Make sure you have performed the necessary manipulations to connect to the telescope.</span>
          <br>
          <span>Above are presented in the form of a "slide" the procedure.</span>
        </p>  
        <ion-row class="ion-padding" style="float: right">
            <ion-button size="default" expand="block" 
                        shape="round" color="white" 
                        (click)="connection()">
              Connection
            </ion-button>
        </ion-row>
      </ion-label>
    </ion-item>
  </div>
</ion-footer> 