ion-content{
  .abs_container {
    position:absolute;
    border:RED  solid 1px;
  }

  .mjpg_stream {
    display: flex;
    align-items: center;
    
    height:  100%;
    overflow:hidden;
  
    img {
      position: relative;
      display: flex;
      align-items: center;
    }
  }
}