<style>

.imgSize { 
  max-width: 100%; 
  height: auto; 
}
</style>

<ion-content [fullscreen]="true" style="--background: #000" class="no-scroll">
  

  <ion-header collapse="condense">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
  </ion-header>


<div id="container" style="flex: vertical;">
    <img style="width:100%;" src="http://192.168.1.30:8080/?action=stream" />
</div>

<!--Bouton Capture-->
<form class="rightButton">
  <div>
    <ion-button color="danger" (click)="callGotoFunction()"><ion-icon name="camera"></ion-icon>Test GOTO</ion-button>
  </div>
  <div>
    <ion-button color="danger" (click)="callGetPosFunction()"><ion-icon name="move"></ion-icon>Test getPosition</ion-button>
  </div>
  <div>
    <ion-button color="danger" (click)="callRafalesFunction()"><ion-icon name="albums-outline"></ion-icon>Test Rafales</ion-button>
  </div>
  <div>
    <ion-button color="danger" (click)="callRecordFunction()"><ion-icon name="videocam-outline"></ion-icon>Test Enregistrements</ion-button>
  </div>
  <div>
    <ion-button color="danger" (click)="callCapturesFunction()"><ion-icon name="image-outline"></ion-icon>Test Captures</ion-button>
  </div>
  <div>
    <ion-button  color="danger" class="circledButton" (click)="record()">
      <ion-icon color="warning" size="large" *ngIf="booleanVariable; else alternateIcon" name="square"></ion-icon>
    </ion-button>
  </div>
</form>

<ng-template #alternateIcon>
  <ion-icon size="large" color="warning" name="ellipse"></ion-icon>
</ng-template>

<!--Menu pour ouvrir le drawer du bas-->
<ion-button id="openModal" color="danger">
  <ion-icon size name="menu"></ion-icon>
</ion-button>

<ion-modal class="no-scroll" trigger="openModal" [initialBreakpoint]="0.5">
  <ng-template>
    <ion-content style="--background: #131313;">
<div>
  <div class="divCustom">
    <ion-button class="buttonPlacement" color="dark" (click)="GuiObjManager()"><ion-icon color="danger" name="planet-outline"></ion-icon></ion-button>
    <ion-button class="buttonPlacement" color="dark" (click)="CallExternalJSFileFunction()"><ion-icon color="danger" name="camera"></ion-icon></ion-button>
  </div>
  <div class="divCustom">
    <ion-button class="buttonPlacement" color="dark" (click)="CallExternalJSFileFunction()"><ion-icon color="danger" name="camera"></ion-icon></ion-button>
    <ion-button class="buttonPlacement" color="dark" (click)="CallExternalJSFileFunction()"><ion-icon color="danger" name="camera"></ion-icon></ion-button>
  </div>
  <!--Slider-->
  <div>
    <ion-item color="dark" style="position: relative;">
      <p style="color: #5c000c">Vitesse de déplacements : </p>
      <ion-range min="1" max="6" step="1" value="1" snaps color="danger">
        <ion-label slot="start" color="danger">1</ion-label>
        <ion-label slot="end"  color="danger">6</ion-label>
      </ion-range>
    </ion-item>
  </div>
</div>
    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>
